<div class="container">
<h1>EASY</h1>
<h2>Your Online Garage Sale</h2>


	<form method="post" action="/products">
	  <input type="text" placeholder="Post Your ITEM Here" name="product[description]">
	  <input type="text" placeholder="Price in RM" name="product[price]"></br>
	  <input type="submit" value="Shoot">
	</form>

<h3>Recent Products for Sale</h3>

	<% @products.each do |p| %>
		<div class="row">
			<div class = "col-md-6">
				<ul class="list-inline">
						<li><p>Item: <a href= "/users/<%=p.user.id%>/products/<%=p.id%>"><%=p.description%></a></p></li>
								<li><p>RM: <%=p.price%></p></li>
									<li><p>Posted by: <a href= "/users/<%=p.user.id%>/products"><%=p.user.name%></a></p>
									</li>
				</ul>		
			</div>	
		</div>	
  <% end %>



